{% extends "bootstrap/form.html" %}

{% load i18n %}

{% block page_header %}
    <h1>{% trans "Account setup" %}</h1>
{% endblock %}

{% block button_bar %}
    {% with profile.user as profile_user %}
        {% include "userena/button_bar.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <form action="" enctype="multipart/form-data" method="post">
    {{ block.super }}
    </form>
{% endblock %}

{% block actions %}
<div class="row">
    <div class="span8">
        <button type="submit" class="btn primary">{% trans "Save" %}</button>
        <a href="{% url blogages_core:user_list %}" class="btn">{% trans "Cancel" %}</a>
    </div>
    <div class="span4">
        <a href="{% url blogages_core:user_delete form.instance.user.pk %}" class="btn">{% trans "Delete" %}</a>
    </div>
</div>
{% endblock %}
